{{ if (isset .Site.Author "flickrid")  -}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.14/js/lightgallery-all.min.js" charset="utf-8"></script>
<script src="/js/weblog.js" charset="utf-8"></script>
<script type="text/javascript">

  // @summary: jquery implementation
  $(function() {
    // @summary: Use the author's flickr ID to load images from the public flickr feed
    $.getJSON("https://api.flickr.com/services/feeds/photos_public.gne?id={{ .Site.Author.flickrid }}&format=json&jsoncallback=?", function(data) {
      iweblog.application.displayImages(data, 8);
    });
  });

</script>
{{ end }}