{{- /* 
    file            : The code file to display
    filename        : The name that the file should be given on download
    allowdownload   : True if a download link should be shown 
    TODO: fix options. If the lineos start is changed, the highlight lines are not matched to the line numbers
*/ -}}
{{ $filePath:= "" }}
{{- $data:= .Inner  -}}
{{- if .Attributes.file  -}}
{{-   $filePath = .Attributes.file -}} 
{{-   $matchedFile := .Page.Resources.GetMatch $filePath -}}
{{-   if and (not $matchedFile) .Page.File -}}
{{-     $filePath = path.Join .Page.File.Dir $filePath -}}
{{-     $data = ($filePath | readFile) -}}
{{-   else -}}
{{-     $data = $matchedFile.Content -}}
{{-   end -}}
{{- $data = printf "%s\n%s" .Inner $data -}}
{{- end -}}
{{- $class := .Attributes.class | default ""     -}}
{{- $lang  := .Attributes.lang  | default .Type  -}}
{{- if transform.CanHighlight $lang  -}}
    <div class="{{-  $class  -}}">
{{-   highlight $data $lang .Options -}}
    </div>
{{- else -}}
    <pre><code class="{{-  $class  -}}">{{- $data -}}</code></pre>
{{- end -}}
{{- if and .Attributes.file (eq .Attributes.allowdownload true)  -}}
<a href="/{{ $filePath }}" download="{{- cond (ne .Attributes.filename nil) .Attributes.filename .Attributes.file -}}">Download file</a>
{{- end -}}