{{- if .Destination }} 
{{-   $img := .Page.Resources.GetMatch .Destination -}}
{{-   if and (not $img) .Page.File -}}
{{-     $path := path.Join .Page.File.Dir .Destination -}}
{{-     $img = resources.Get $path -}}
{{-   end -}}
{{-  with $img -}}{{/* remove this line for breaking on image not present error is not clear though*/}}
{{/*- $large := $img.Resize "1200x" -*/}}
{{-  $large := $img -}}
{{-  $medium := $large.Fill "726x402" -}}
{{-  $small := $medium.Fill "458x254" -}}
<figure class="image-caption">
    <img alt="{{ $.Text }}" srcset="
        {{ $small.RelPermalink }} 458w,
        {{ $medium.RelPermalink }} 726w,
        {{ $large.RelPermalink }} 1200w" sizes="80vw" src="{{ $small.RelPermalink }}" />
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{-   else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />{{- end -}}
{{- else -}}
<figure class="image-caption">
    <figcaption>TODO: Grab image '{{ $.Text }}'</figcaption>
</figure>
{{- end -}}